
* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  text-decoration: none;
}

html, body {
  height: 100%;
   margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1; /* apenas main cresce pra ocupar o espaço */
  padding: 30px 0;
}

header {
  padding: 30px;
  margin-bottom: 30px;
  background-color: #636b2f;
  color: #e7e7e7;
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 20px;  
}

h2 {
  color: #333;
  margin: 30px;
  margin-bottom: 15px;
}

a {
  text-align: center;
  background-color: #636b2f;
  color: #e7e7e7;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  padding-left: 75px; padding-right: 75px;
  font-weight: bold;
}

a:hover {
  background-color: #e7e7e7;
  color: #636b2f;
}

button {
  margin: 0 20px ;
  margin-top: 15px;
  text-align: center;
  background-color: #636b2f;
  color: #e7e7e7;
  cursor: pointer;
  border: 1px solid #333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  padding-left: 75px; padding-right: 75px;
  font-weight: bold;
}

button:hover {
  background-color: #e7e7e7;
  color: #636b2f;
}

footer {
  flex-shrink: 0;
  text-align: center;
  color: #e7e7e7;
  background-color: #636b2f;
  padding: 30px;
  font-weight: bold;
}

.icone {
  width: 60px;
  height: auto;
}

.ajustes-header-footer {
  flex: 1 0 auto;  /* Permite crescer para preencher o espaço */
  display: flex;
  flex-direction: column;
}

.fundo-bk{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
  opacity: 30%;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.formulario {
  margin: 40px;
  background-color: #cecdcd;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 500px;
}

.formulario input, .formulario select {
  cursor: pointer;
  background-color: #e7e7e7;
  color: #333;
  width: 90%;
  padding: 10px 20px;
  margin: auto;
  border: none;
  border-radius: 5px;
  border: 1px solid #333;
  box-shadow: 0 2 10px rgb(182, 180, 180);
}

.pagina {
  height: 100vh;
}

#tabelaTarefas {
  margin: 30px auto;
  border-collapse: collapse;
  background-color: #333;
  color: #e7e7e7;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  
}

#tabelaTarefas thead th,
#tabelaTarefas td {
  padding: 12px 15px;
  border: 1px solid #333;
  text-align: center;
}

#tabelaTarefas tbody th,
#tabelaTarefas td {
  padding: 12px 15px;
  border: 1px solid #636b2f;
  text-align: center;
}

#tabelaTarefas thead {
  background-color: #636b2f;

}

#tabelaTarefas thead td{
  background-color: #636b2f;
  border: 1px solid #333;
}

#tabelaTarefas tbody tr:nth-child(even) {
  background-color: #444;
}

.botoes-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
 
}

.btn-excluir {
  background-color: #b91c1c;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s;
}

.btn-excluir:hover {
  background-color: #991b1b;
}

#btn-saida{
  display: inline-block;
  background-color: #333;
  color: #e7e7e7;
  font-weight: bold;
  border: 1px solid #333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 10px;
}

#btn-saida:hover {
  color: #333;
  background-color: #e7e7e7;
}